@using Special_Offer_Hunter.Models;
@model SpecialOfferViewModel



<div class="row">
    <div class="col col-lg-12">
        <form id="OffersInNeighborhoodFiltr" asp-action="OffersInNeighborhood" asp-controller="SpecialOffer" method="get">
            <div class="row">

                <div class="col col-lg-2">
                    <label class="font-weight-bold" @*asp-for="ProductName"*@>Kod produktu</label>
                    <input id="BarCodeSearch" class="form-control" asp-for="BarCode" />
                </div>
                <div class="col col-lg-2">
                    <input class="form-check-input" type="checkbox" value="" id="SpecialOffer" asp-for="SpecialOffer">
                    <label class="form-check-label">
                        Promocja na Produkt
                    </label>
                </div>
                <div class="col col-lg-2">
                    <label class="font-weight-bold">Sortuj</label>
                    <select class="custom-select custom-select-sm" asp-for="sortMethod" asp-items="Html.GetEnumSelectList<SortMethod>()">
                        @*<option id="sortMethod" selected="selected" value="">Please select</option>*@
                    </select>
                </div>
                <div class="col col-lg-2">
                    <label class="font-weight-bold">Rosnąco \ Malejąco </label>
                    <select class="custom-select custom-select-sm" asp-for="sortType" asp-items="Html.GetEnumSelectList<SortType>()">
                        @*<option id="sortMethod" selected="selected" value="">Please select</option>*@
                    </select>
                </div>
                <div class="col-lg-2 ">
                    <label class="font-weight-bold">Rodzaj cen</label>

                    <select class="custom-select custom-select-sm" asp-for="priceDescription" asp-items="Html.GetEnumSelectList<PriceDescription>()">
                        @*<option id="priceDescription" selected="selected" value="">Please select</option>*@
                    </select>
                </div>
                <div class="col-lg-2 ">
                    <label class="font-weight-bold" asp-for="PriceValue">Cena</label>
                    <input id="PriceValue" class="form-control" asp-for="PriceValue" />
                </div>

                <div class="col-lg-2 ">
                    <label class="font-weight-bold" asp-for="ProductName">Nazwa</label>
                    <input id="ProductName" class="form-control" asp-for="ProductName" />
                </div>

                <div class="col-lg-2 ">
                    <label class="font-weight-bold" asp-for="CategoryName">Kategoria</label>
                    @*<input id="CategoryName" class="form-control" asp-for="CategoryName" />*@
                    <select id="CategoryName" asp-for="CategoryName" class="custom-select custom-select-sm" asp-items="@Model.CategoryList"></select>
                </div>

                <div class="col-lg-2 ">
                    <label class="font-weight-bold" asp-for="ShopName">Sklep</label>
                    <input id="ShopName" class="form-control" asp-for="ShopName" />
                </div>

                <div class="col-lg-2 ">
                    <label class="font-weight-bold" asp-for="Distance">Odległość</label>
                    <input id="Distance" class="form-control" asp-for="Distance" />
                </div>
                <div class="col col-lg-2">
                    <br />
                    <input id="FiltrOffersInNeighborhood" class="btn btn-info" value="Filtruj">
                </div>



            </div>

        </form>
    </div>





    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Sklep</th>
                <th scope="col">Odległość</th>
                <th scopt="col">Dodaj do koszyka</th>
            </tr>
        </thead>
        <tbody>

            @*@foreach (var p in Model.list2)
                {
                    <tr>
                        <th scope="row">1</th>
                        <td>@p.Key.Name</td>
                        <td>@p.Key.Product_Price.Price</td>
                        <td>@p.Key.Shop.Name</td>
                        <td>@p.Value</td>
                        <td>
                            <form asp-action="AddProductToShoppingCart" asp-controller="Cart" method="get">
                                <select class="custom-select CartTypeForShoppingCart" asp-items="Html.GetEnumSelectList<ShoppingCartType>()">
                                </select>
                                <input class="ProdcutIdForShoppingCart" type="hidden" value="@p.Key.ProductId" />
                                <input class="btn btn-sm btn-warning" id="AddProductToShoppingCart" value="Dodaj" />
                            </form>
                        </td>

                    </tr>
                }*@
            @foreach (var p in Model.list2.Select((value, i) => new { i, value }))
            {
                <tr>
                    <th scope="row">@(p.i+1)</th>
                    <td>@p.value.Key.Name</td>
                    <td>@p.value.Key.Product_Price.Price</td>
                    <td>@p.value.Key.Shop.Name</td>
                    <td>@p.value.Value</td>
                    <td>
                        <form asp-action="AddProductToShoppingCart" asp-controller="Cart" method="get">
                            @*<select class="custom-select CartTypeForShoppingCart" asp-items="Html.GetEnumSelectList<ShoppingCartType>()">
                            </select>*@
                            <select style="max-width:130px;" class="custom-select CartTypeForShoppingCart" >
                                <option value="0">Dzień</option>
                                <option value="4">Poszukiwane</option>
                            </select>
                            <input class="ProdcutIdForShoppingCart" type="hidden" value="@p.value.Key.ProductId" />
                            <input class="btn btn-sm btn-warning" id="AddProductToShoppingCart" value="Dodaj" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


@*@section Scripts
    {
        <script>
             $('#FiltrOffersInNeighborhood').on('click', function () {

                 alert("Click");



        var priceDescription = $("#priceDescription").val();
        var PriceValue = $("#PriceValue").val();
        var ProductName = $("#ProductName").val();
        var CategoryName = $("#CategoryName").val();
        var ShopName = $("#ShopName").val();
        var Distance = $("#Distance").val();

        var t = $("input[name='__RequestVerificationToken']").val();
        $.ajax({
        url: '@Url.Action("OffersInNeighborhood", "SpecialOffer")',
        type: "get",
        data: {
        priceDescription: priceDescription ,
        PriceValue: PriceValue ,
        ProductName: ProductName,
        CategoryName: CategoryName,
        ShopName: ShopName,
        Distance: Distance
        },
        headers:
        {
        "RequestVerificationToken": t
        },
        success: function (result) {

        $('#OffersInNeighborhoodElement').empty();
        $('#OffersInNeighborhoodElement').html(result);
        alert("start2");
        }
        });



        });


    });
        </script>


    }*@
