@model ProductDetailsViewModel
<div id="DataChange" class="row" style="background-color:lightcyan;">
    @if (Model.Code != null && Model.Code != "")
    {
        <div class="col col-lg-12">
            <h4 id="GetBarCode">BarCode :  @Model.Code</h4>
        </div>

        <div class="col col-lg-12">
            @if (Model.Brand != null && Model.Brand != "")
            {
                <h4 id="GetBrand">Marka :   @Model.Brand</h4>
            }
        </div>

        <div class="col col-lg-12">
            <h5 id="GetDescription">Opis : @Model.Description</h5>
        </div>




    }
    else
    {
        <h4>Nie udało się odczytać kodu spróbuj jeszcze raz</h4>
    }

    <textarea id="DescriptionProductDS" style="display:none;">@Model.Description</textarea>
    <textarea id="BrandProductDS" style="display:none;">@Model.Brand</textarea>
    <input id="BarCodeProductDS" type="hidden" value=@Model.Code>
    <textarea id="ProductName" style="display:none;">@Model.ProductName</textarea>
    <textarea id="ProductImageUrl" style="display:none;">@Model.ProductImageUrl</textarea>
    <textarea id="ProductCountry" style="display:none;">@Model.CodeCountry</textarea>

</div>





