@model ShoppingCartViewModel
<div class="col col-lg-12">
    <div class="row">
        @if (Model.productList != null && Model.productList.Count > 0)
        {
            <div class="col col-lg-12">
                <h2>Zawartość twojego kosza : @Model.type</h2>
            </div>
            <div class="col col-lg-12">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Sklep</th>
                            <th>Usuń z kosza</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.productList.Select((value, i) => new { i, value }))
                        {
                            <tr>
                                <th scope="row">@(p.i+1)</th>
                                <td>@p.value.product.Name</td>
                                <td>@p.value.product.Product_Price.Price</td>
                                <td>@p.value.product.Shop.Name</td>
                                <td>
                                    <form asp-action="RemoveProductFromCart" asp-controller="Cart">

                                        <input class="ProductIdRemove" name="ProductId" type="hidden" value="@p.value.product.ProductId" />
                                        <input class="TypeRemove" name="Type" type="hidden" value="@Model.type" />
                                        <input @*id="RemoveProductFromCartSubmit"*@ class="btn btn-danger RemoveProductFromCartSubmit" value="Usuń" />
                                    </form>
                                </td>
                                <td>
                                    <form asp-action="MoveProductToAnotherCart" asp-controller="Cart">

                                        <input class="ProductIdMove" name="ProductId" type="hidden" value="@p.value.product.ProductId" />
                                        <input class="TypeFrom" name="Type" type="hidden" value="@Model.type" />
                                        <select class="custom-select TypeTo" name="MoveType" asp-items="Html.GetEnumSelectList<ShoppingCartType>()">
                                        </select>
                                        <input id="MoveProductToAnotherCartSubmit" class="btn btn-primary" value="Przenieś" />
                                    </form>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>

            </div>

        }
        else
        {<br />
            <br />
            <div class="col col-lg-2"></div>
            <div class="col col-lg-8"> <h3>Tu pojawi się zawartość Twojego koszyka</h3></div>
            <div class="col col-lg-2"></div>


        }
    </div>
</div>