@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>





<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label @*asp-for="Input.Email"*@>Imie</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="Input.Email"*@>Nazwisko</label>
                <input asp-for="Input.Surname" class="form-control" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="Input.Email"*@></label>
                <input asp-for="Input.Dateofbirth" class="form-control" />
                <span asp-validation-for="Input.Dateofbirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="Input.Email"*@>Miasto</label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="Input.Email"*@>Ulica</label>
                <input asp-for="Input.Street" class="form-control" />
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*a@*sp-for="Input.Email"*@>Numer domu</label>
                <input asp-for="Input.HouseNumber" class="form-control" />
                <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label @*asp-for="Input.Email"*@>Kod Pocztowy</label>
                <input asp-for="Input.PostalCode" class="form-control" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Numer Telefonu</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div id="UserImagePath" >
              
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

    <div class="col col-lg-12">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Camera</div>
                <div class="panel-body">
                    <div id="my_camera"></div>
                    <!-- A button for taking snaps -->
                    <form>
                        <input type="button" class="btn btn-success" value="Take Snapshot" onClick="take_snapshot()">
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Captured Photo</div>
                <div class="panel-body">
                    <div id="results">Your captured image will appear here...</div>
                </div>
                <br />
                <br />
            </div>
        </div>




    </div>





    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script src="~/webcamjs/webcam.js"></script>
    <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
    </script>
    <!-- Code to handle taking the snapshot and displaying it locally -->
    <script language="JavaScript">
        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap(function (data_uri) {
                // display results in page
                document.getElementById('results').innerHTML =
                    '<img src="' +
                    data_uri +
                    '"/>';

                //Webcam.upload(data_uri,
                //    '/Login/Capture',
                //    function (code, text) {
                //        alert('Photo Captured');
                //    });

                Webcam.upload(data_uri,
                    '/Login/Capture',
                    function (code,text) {

                        alert(text);

                      
                        $('#UserImagePath').empty();
                        $('#UserImagePath').html(text);
                    });


            });
        }
    </script>


}
