
@{
    ViewData["Title"] = "Panel";
}
<style>
    .block {
        min-height: 200px;
    }
</style>
<div class="container">
    <div class="row block bg-light">
        <div id="ShoppingCartPanel" class="col-lg-12">
            @await Component.InvokeAsync("ShoppingCartComponent")
        </div>
    </div>
    <div class="row block bg-light">
        <div id="ShoppingCartDetails" class="col-lg-12">
            @await Component.InvokeAsync("ShoppingCartDetailsComponent")
        </div>
    </div>
    <div class="row block bg-light">
        <div id="OffersInNeighborhoodElement" class="col-lg-12">

            @await Component.InvokeAsync("OffersInNeighborhoodComponent")

        </div>
    </div>
    <div class="row block bg-secondary">
        <div id="ScanBarCode" class="col-lg-12">

            @await Component.InvokeAsync("ScanBarCodeComponent")

        </div>
    </div>
    <div class="row block bg-light">
        <div id="NavigationOnMap" class="col-lg-12 ">
            @await Component.InvokeAsync("NavigationShowShopsOnMapComponent")
        </div>

    </div>
    <div class="row block bg-light">
        <div class="col-lg-12">
            @await Component.InvokeAsync("ChartComponent")
        </div>
    </div>

    <div class="row block bg-dark">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-light">
        <div class="col-lg-12">

        </div>
    </div>
    <div class="row block bg-primary">
        <div class="col-lg-12">

        </div>
    </div>




</div>

<div>
    <form id="Coordinates" asp-action="ChangeCoordinates" asp-controller="Home">
        <input type="hidden" id="Longitude" />
        <input type="hidden" id="Latitude" />


    </form>
</div>


@section Scripts {
    <script>






        $(document).ready(function ()
        {
            /////// webcam code
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });


            Webcam.attach('#LiveCamera');


            function CaptureSnapshot() {
                Webcam.snap(function (data) {
                    // display results in page
                    document.getElementById('results').innerHTML = '<img src="' + data + '"/>';
                    // Send image data to the controller to store locally or in database
                    Webcam.upload(data,
                        '/BarCode/CaptureImage',
                        function (code, text) {

                            $('#BarcodeResult').empty();
                            $('#BarcodeResult').html(text);

                        });
                });
            }

            $('#ScanBarCode').on('click','#CaptureSnapshot', function () {

                CaptureSnapshot();

            });
            //////

            ///Change NavigationView


            function ChangeNavigationView(navType)
            {

                  $.ajax({
                    url: '@Url.Action("ShowShoppingCartProductsOnMap", "Navigation")',
                    type: "get",
                    data: {
                        shoppingCartType: navType,


                    },
                    headers:
                    {
                        //"RequestVerificationToken": t
                    },
                    success: function (result) {

                        $('#NavigationOnMap').empty();
                        $('#NavigationOnMap').html(result);

                    }
                });




            }


            ////








            //Change shopping cart icon

            function ChangeIcon(typeName)
            {



                ("#ShoppingCartPanel ShoppingCartTypeSelect").each(function () {

                    $(this).removeClass('imageSelected');

                });

                ("#ShoppingCartPanel .ShoppingCartTypeSelect").each(function () {

                    if ($(this).closest('div').find('h5').text() == typeName)
                    {
                        $(this).addClass('imageSelected');
                    }

                });



            }

            ///



            //Change shopping cart view
            $('#ShoppingCartPanel').on('click', '.ShoppingCartTypeSelect', function (e)
            {

                var cartType = $(this).closest('div').find('h5').text();




                $("#ShoppingCartPanel .ShoppingCartTypeSelect").each(function () {

                    $(this).removeClass('imageSelected');

                });

                $(this).addClass('imageSelected');


                ChangeNavigationView(cartType);
                //var t = $("input[name='__RequestVerificationToken']").val();
                $.ajax({
                    url: '@Url.Action("AddProductToShoppingCart", "Cart")',
                    type: "get",
                    data: {
                        Type: cartType,
                        ProductId: 0,

                    },
                    headers:
                    {
                        //"RequestVerificationToken": t
                    },
                    success: function (result) {

                        $('#ShoppingCartDetails').empty();
                        $('#ShoppingCartDetails').html(result);

                    }
                });




            });


            ///

            ///  MoveProductToAnotherCart
            $('#ShoppingCartDetails').on('click', '#MoveProductToAnotherCartSubmit', function (e)
            {


                var FormElem = $(this).closest('form');


                var cartTypeText = FormElem.find(".TypeTo option:selected").text();

                var cartType = FormElem.find(".TypeFrom").val();
                var productId = FormElem.find(".ProductIdMove").val();
                var moveType = FormElem.find(".TypeTo").val();
                $(".ProdcutIdForShoppingCart").val();



                $("#ShoppingCartPanel .ShoppingCartTypeSelect").each(function () {

                    $(this).removeClass('imageSelected');

                });

                $("#ShoppingCartPanel .ShoppingCartTypeSelect").each(function () {

                    if ($(this).closest('div').find('h5').text() == cartTypeText) {
                        $(this).addClass('imageSelected');
                    }

                });

                ChangeNavigationView(cartType);
                var t = $("input[name='__RequestVerificationToken']").val();
                $.ajax({
                    url: '@Url.Action("MoveProductToAnotherCart", "Cart")',
                    type: "get",
                    data: {
                        Type: cartType,
                        ProductId: productId,
                        MoveType:moveType
                    },
                    headers:
                    {
                        "RequestVerificationToken": t
                    },
                    success: function (result) {

                        $('#ShoppingCartDetails').empty();
                        $('#ShoppingCartDetails').html(result);

                    }
                });



            });




            ////


            //// add to shoping cart
            $('#OffersInNeighborhoodElement').on('click', '#AddProductToShoppingCart', function (e)
            {


                var FormElem = $(this).closest('form');



                var cartTypeText = FormElem.find(".CartTypeForShoppingCart option:selected").text();
                var cartType = FormElem.find(".CartTypeForShoppingCart").val();
                var productId = FormElem.find(".ProdcutIdForShoppingCart").val();
                $(".ProdcutIdForShoppingCart").val();



                $("#ShoppingCartPanel .ShoppingCartTypeSelect").each(function () {

                    $(this).removeClass('imageSelected');

                });

                $("#ShoppingCartPanel .ShoppingCartTypeSelect").each(function () {

                    if ($(this).closest('div').find('h5').text() == cartTypeText) {
                        $(this).addClass('imageSelected');
                    }

                });






                var t = $("input[name='__RequestVerificationToken']").val();
                $.ajax({
                    url: '@Url.Action("AddProductToShoppingCart", "Cart")',
                    type: "get",
                    data: {
                        Type: cartType,
                        ProductId: productId,

                    },
                    headers:
                    {
                        "RequestVerificationToken": t
                    },
                    success: function (result) {

                        $('#ShoppingCartDetails').empty();
                        $('#ShoppingCartDetails').html(result);

                    }
                });



            });

            /////

            ////Remove Product from cart
            RemoveProductFromCartSubmit

            $('#ShoppingCartDetails').on('click', '#RemoveProductFromCartSubmit', function (e)
            {


                var FormElem = $(this).closest('form');




                var cartType = FormElem.find(".TypeRemove").val();
                var productId = FormElem.find(".ProductIdRemove").val();

                var t = $("input[name='__RequestVerificationToken']").val();
                $.ajax({
                    url: '@Url.Action("RemoveProductFromCart", "Cart")',
                    type: "get",
                    data: {
                        Type: cartType,
                        ProductId: productId,

                    },
                    headers:
                    {
                        "RequestVerificationToken": t
                    },
                    success: function (result) {

                        $('#ShoppingCartDetails').empty();
                        $('#ShoppingCartDetails').html(result);

                    }
                });



            });
            /////

    function SearchSpecialOffer()
    {
        var form = $('#Coordinates');
        var x = $("#Latitude").val();
        var y = $("#Longitude").val();
        //var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("ChangeCoordinates", "Home")',
               type: "post",
                data: {
                    //__RequestVerificationToken: token,
                    Latitude:x /* $("#Latitude").val()*/,
                    Longitude:y /*$("#Longitude").val()*/
                },
                success: function (result) {


                }
            });
    }

    function SetCoordinates()
    {
        navigator.geolocation.getCurrentPosition(function (position) {
            let lat = position.coords.latitude;
            let long = position.coords.longitude;

           let x = lat.toFixed(2);
           let y = long.toFixed(2);


            //var form = $('#Coordinates');
        //var x = $("#Latitude").val();
        //var y = $("#Longitude").val();
        //var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("ChangeCoordinates", "Home")',
               type: "post",
                data: {
                    //__RequestVerificationToken: token,
                    Latitude:x /* $("#Latitude").val()*/,
                    Longitude:y /*$("#Longitude").val()*/
                },
                success: function (result) {


                }
            });




        });
    }

    SetCoordinates();

    function SendCoordinates()
    {
        var form = $('#Coordinates');
        var x = $("#Latitude").val();
        var y = $("#Longitude").val();
        //var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajax({
                url: '@Url.Action("ChangeCoordinates", "Home")',
               type: "post",
                data: {
                    //__RequestVerificationToken: token,
                    Latitude:x /* $("#Latitude").val()*/,
                    Longitude:y /*$("#Longitude").val()*/
                },
                success: function (result) {


                }
            });
    }

            SendCoordinates();

            $("body").on('click', "#SearchProductByFoundBarCode", function (e) {



                var BarCode1 = $("#BarcodeResult #BarCodeProductDS").val();
                //var BarCode= $('#BarCodeSearch').val(BarCode1);
                var BarCode = BarCode1;
                var priceDescription = $("#priceDescription").val();
                var PriceValue = $("#PriceValue").val();
                var ProductName = $("#ProductName").val();
                var CategoryName = $("#CategoryName").val();
                var ShopName = $("#ShopName").val();
                var Distance = $("#Distance").val();
                var SortMethod = $("#sortMethod").val();
                var sortType = $("#sortType").val();
                var SpecialOffer = false;
                if ($('#SpecialOffer').is(":checked")) {
                    var SpecialOffer = true;
                }



            $.ajax({
                url: '@Url.Action("OffersInNeighborhood", "SpecialOffer")',
               type: "get",
                data: {
                    priceDescription: priceDescription ,
                    PriceValue: PriceValue ,
                    ProductName: ProductName,
                    CategoryName: CategoryName,
                    ShopName: ShopName,
                    Distance: Distance,
                    sortMethod: SortMethod,
                    sortType: sortType,
                    BarCode: BarCode,
                    SpecialOffer:SpecialOffer
                },
                headers:
                {

                },
                success: function (result) {
                    e.stopPropagation();
                    $('#OffersInNeighborhoodElement').empty();
                    $('#OffersInNeighborhoodElement').html(result);

                }
            });



            });

            $('#OffersInNeighborhoodElement').on('click', '#FiltrOffersInNeighborhood', function (e)
            {


                e.stopPropagation();

                var priceDescription = $("#priceDescription").val();
                var PriceValue = $("#PriceValue").val();
                var ProductName = $("#ProductName").val();
                var CategoryName = $("#CategoryName").val();
                var ShopName = $("#ShopName").val();
                var Distance = $("#Distance").val();
                var SortMethod = $("#sortMethod").val();
                var sortType = $("#sortType").val();
                var BarCode = $('#BarCodeSearch').val();
                var SpecialOffer = false;
                if ($('#SpecialOffer').is(":checked"))
                {
                var SpecialOffer = true;
                }




                var t = $("input[name='__RequestVerificationToken']").val();
            $.ajax({
                url: '@Url.Action("OffersInNeighborhood", "SpecialOffer")',
               type: "get",
                data: {
                    priceDescription: priceDescription ,
                    PriceValue: PriceValue ,
                    ProductName: ProductName,
                    CategoryName: CategoryName,
                    ShopName: ShopName,
                    Distance: Distance,
                    sortMethod: SortMethod,
                    sortType: sortType,
                    BarCode: BarCode,
                    SpecialOffer:SpecialOffer
                },
                headers:
                {
                    "RequestVerificationToken": t
                },
                success: function (result) {

                    $('#OffersInNeighborhoodElement').empty();
                    $('#OffersInNeighborhoodElement').html(result);

                }
            });



            });

  });





    </script>
}


