@model UserRankViewModel


<div class="container">

    <div class="row">
        <h2>Ranking Użytkowników</h2>

        @if (Model.RankList != null && Model.RankList.Count() > 0)
        {
            <div class="col col-lg-4">

                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Punkty</th>
                            <th scope="col">Email</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model.RankList.OrderByDescending(x => x.Points).Select((value, i) => new { i, value }))
                        {
                            <tr>
                                <th scope="row">@(u.i+1)</th>
                                <td>@u.value.Points</td>
                                <td>@u.value.Email</td>
                                <td>@u.value.Name</td>
                                <td>@u.value.Surname</td>
                            </tr>

                        }







                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h1>Brak użytkowników</h1>
        }






    </div>






</div>